*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,Verdana, Geneva, Tahoma,  sans-serif;
    font-size: 16px;
    transition: all 500ms ease;
}
.row{
    background-color: #033258;
    color: #9dc3e2;
    text-align: center;
    padding: 2em 2em 0.5em;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
}
.row h1{
    font-size: 2.5em;
}
#user-email{
    width: 55%;
    margin: 15px 0;
    position: center;
}
.RP{
    color: red';
}
